body {
    background: #E5E5E5;
    // position: relative;
    margin: 0;
    font-family: 'Lato', sans-serif;
    margin-left: 120px;
}

$table-head-color: #100DAE;
$table-first-color: #fff;
$table-second-color: #F4F4F4;
$main-color: linear-gradient(#2DB626, #AEDC49);

@mixin FlexCenter($justify, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
}

.input-group {
    @include FlexCenter(center, column);

    input {
        margin-top: 5px;
        width: 150px;
    }
    .btn {
        background: $main-color;
        width: 100px;
        height: 25px;
        margin-top: 15px;
        border-radius: 10px;
        color: $table-first-color;
        border: none;
    }
}
.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px 20px;
}
.budget {
    grid-column: 1 / span 3;
}
.container {
    grid-column: 1;
}
.stats {
    grid-column: 2 / span 3;
}

