$table-head-color: #100dae;
$table-first-color: #fff;
$table-second-color: #f4f4f4;
$main-color: linear-gradient(#2db626, #aedc49);

@mixin FlexCenter($justify, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
}

.budget {
  background: $table-first-color;
  min-width: 920px;
  height: 300px;
  margin-top: 20px;
  @include FlexCenter(space-around, row);
  font-size: 36px;

  &__circle {
    font-size: 72px;
  }
}
