$table-head-color: #100DAE;
$table-first-color: #fff;
$table-second-color: #F4F4F4;
$main-color: linear-gradient(#2DB626, #AEDC49);

@mixin FlexCenter($justify, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
}

.budget {
    background: $table-first-color;
    min-width: 920px;
    height: 300px;
    margin-top: 20px;
    @include FlexCenter(center, row);
    font-size: 36px;
}
